# Python
__pycache__/
*.py[cod]
.env

# pandas、numpy などの大きなデータ
*.h5
*.csv
*.png
*.pdf
*.svg
*.npy
*.npz
/scripts/for_rovibrational_excitation/results/
/examples/results/
/results/


# VS Code
.vscode/

# OS 一般
.DS_Store

# 実際の設定ファイルはコミットしない
configs/config.json

# build outputs
/dist/
/build/
/*.egg-info/
/src/*.egg-info/

